$PrimaryBGColor:linear-gradient(246.8deg, #88A4EC 0%, #3362D8 100%);
$PrimaryTextColor:#FFFFFF;
$Primaryfont:'Montserrat', sans-serif;

body {
  background: $PrimaryBGColor;
  color: $PrimaryTextColor;
  font-family: $Primaryfont;
  text-align: left;
}
  


