$PrimaryBGColor:linear-gradient(246.8deg, #88A4EC 0%, #3362D8 100%);
$PrimaryTextColor:#FFFFFF;
$Primaryfont:'Montserrat', sans-serif;
$TodayTextColor:#FCA103;
$ForecastColor:#3362D8;
$DarkColor:#3d3d3d;
$FontBold: bold;

body {
  background: $PrimaryBGColor;
  color: $PrimaryTextColor;
  font-family: $Primaryfont;
  text-align: left;

  h1{font-weight:$FontBold;}

  .smallText{
    font-size: 10px;
    color: $DarkColor;
  }
  .temperature{color: $DarkColor;  
  }
  .orangeText{color:$TodayTextColor;}
  .blueText{color:$ForecastColor;}




  #results{
    background: $PrimaryTextColor;
    font-weight: $FontBold;
    
    #CityCountry{color: $ForecastColor;}

  }



}
  



